/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  /* line 21, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_buttons.scss */
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  /* line 27, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_buttons.scss */
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    /* line 31, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_buttons.scss */
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

/* line 8, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

/* line 14, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

/* line 20, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

/* line 27, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  /* line 41, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  /* line 45, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  /* line 51, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    /* line 55, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

/* line 61, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 65, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
[type="search"] {
  appearance: none; }

/* line 69, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 75, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

/* line 80, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 8, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 11, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  /* line 16, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

/* line 20, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 8, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

/* line 20, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 24, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  /* line 29, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
  a:active, a:focus, a:hover {
    color: #104c90; }

/* line 36, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* line 44, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* Bitters needs to be imported before Neat */
/* line 4, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
#main {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.2.6/app/assets/stylesheets/addons/_clearfix.scss */
  #main::after {
    clear: both;
    content: "";
    display: table; }

/* line 5, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
ol {
  font-size: 1em;
  font-weight: 500; }
  /* line 9, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
  ol li {
    margin: .5em 0; }
    /* line 12, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
    ol li span {
      display: inline-block; }
      /* line 15, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
      ol li span:before {
        content: '/';
        margin: 0 .3em; }

/* line 23, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
.large-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  /* line 89, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .large-column:last-child {
    margin-right: 0; }

/* line 27, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_layout.scss */
.small-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 89, /Library/Ruby/Gems/2.0.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_span-columns.scss */
  .small-column:last-child {
    margin-right: 0; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_nav.scss */
nav {
  border-bottom: 1px solid #ddd;
  margin: 1.875em 0; }
  /* line 5, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_nav.scss */
  nav ul {
    display: inline-block;
    margin-bottom: 0.625em; }

/* line 11, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_nav.scss */
.blog-title {
  font-size: 1.4em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase; }

/* line 1, /Users/nickb/OSS/lanziborromeo.github.io/source/stylesheets/partials/_footer.scss */
footer {
  border-top: 1px solid #ddd;
  margin: 2em 0;
  padding-top: 2em; }
